@model Lullaby.Admin.ViewModels.IndexViewModel

@{
    ViewBag.Title = "管理画面TOP";
    Layout = "_Layout";
}

<header class="d-flex align-items-center pb-3 mb-5 border-bottom">
    <h1>管理画面</h1>
</header>
<main>
    <h2>グループごとの統計</h2>
    <div class="row g-3">
        @if (Model.GroupStatistics.Count() == 0)
        {
            <div class="col-12">
                <p>DB上に登録されたグループが存在しません。</p>
            </div>
        }
        @foreach (var groupStatistics in Model.GroupStatistics)
        {
            <div class="col-md-6 col-xl-4">
                <div class="card" style="height: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">@groupStatistics.Group.GroupName</h5>
                        <div class="card-text">
                            <ul>
                                <li>
                                    キー: <code>@groupStatistics.Group.GroupKey</code>
                                </li>
                                <li>
                                    登録イベント数: @groupStatistics.TotalEvents
                                </li>
                                <li>
                                    イベント最終更新日: @groupStatistics.LastUpdatedAt
                                </li>
                                <li>
                                    最新のイベントの日付: @groupStatistics.LatestEventDate
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</main>
